    <!-- Footer
    ================================================== -->
    <footer>
        <div class="container-fluid center">
            <a href="#">返回顶部</a>
        </div>
    </footer>
    <div id="footer-extra">
        <div class="container-fluid center">
            <div><a href="https://www.colasoft.com.cn" target="_blank">科来研究院</a></div>
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-fileupload.js"></script>
    <script src="{{ STATIC_URL }}js/lightbox.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>
</body>
</html>
