{% extends "base.html" %}
{% block content %}
{% if statistics %}

<h4> {{days}} 天的信息. 总任务数: {{statistics.total}}, 平均每天: {{statistics.average}}个</h4>

{% if statistics.detections %}
<h4>Top20检出</h4>
  <table class="table table-striped table-bordered">
    {% for block in statistics.detections %}
      {% if block.family %}
        <td>{{block.total}}: <a href="/analysis/search/detections:{{block.family}}"><span style="color:#EE1B2F;font-weight: bold;">{{block.family}}</span></a></td>
      {% endif %}
      {% if forloop.counter|divisibleby:"4" %}
          </tr>
      {% elif forloop.last %}
          </tr>
      {% endif %}

    {% endfor %}
</table>
{% endif %}

<h4>任务每日</h4>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Tasks Added</th>
        <th scope="col">Tasks Reported</th>
        <th scope="col">Tasks Failed</th>
      </tr>
    </thead>
    <tbody>
    {% for day, block in statistics.tasks.items %}
        <tr>
            <th scope="row">{{day}}</th>
            <td>{{block.added}}</td>
            <td>{{block.reported}}</td>
            <td>{{block.failed}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>


<hr />

  {% if statistics.custom_signatures %}
  <h4>仅为 Volatility/static extraction 自定义签名数据</h4>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">名称</th>
        <th scope="col">总时间（分钟）</th>
        <th scope="col">次数</th>
        <th scope="col">已提取 </th>
        <th scope="col">平均时间（分钟）</th>
      </tr>
    </thead>
    <tbody>
    {% for name, time in statistics.custom_signatures.items %}
        <tr>
            <td>{{name}}</td>
            <td>{{time.total}}</td>
            <td>{{time.runs}}</td>
            <td>{{time.successful}}</td>
            <td>{{time.average}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
<h4>每个模块用时</h4>
<div class="container">
    <div class="row">
        {% if statistics.processing %}
        <div class="col-sm">
            <h4>Processing</h4>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">名称</th>
                  <th scope="col">总时间（分钟）</th>
                  <th scope="col">次数</th>
                  <th scope="col">平均时间（分钟）</th>
                </tr>
              </thead>
              <tbody>
              {% for name, time in statistics.processing.items %}
                  <tr>
                      <td>{{name}}</td>
                      <td>{{time.total}}</td>
                      <td>{{time.runs}}</td>
                      <td>{{time.average}}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        {% endif %}
        {% if statistics.signatures %}
        <div class="col-sm">
            <h4>签名</h4>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">名称</th>
                  <th scope="col">总时间（分钟）</th>
                  <th scope="col">次数</th>
                  <th scope="col">平均时间（分钟）</th>
                </tr>
              </thead>
              <tbody>
              {% for name, time in statistics.signatures.items %}
                  <tr>
                      <td>{{name}}</td>
                      <td>{{time.total}}</td>
                      <td>{{time.runs}}</td>
                      <td>{{time.average}}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        {% endif %}
        {% if statistics.reporting %}
        <div class="col-sm">
            <h4>报告</h4>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">名称</th>
                  <th scope="col">总时间（分钟）</th>
                  <th scope="col">次数</th>
                  <th scope="col">平均时间（分钟）</th>
                </tr>
              </thead>
              <tbody>
              {% for name, time in statistics.reporting.items %}
                  <tr>
                      <td>{{name}}</td>
                      <td>{{time.total}}</td>
                      <td>{{time.runs}}</td>
                      <td>{{time.average}}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>

{% else %}
    <div class="alert alert-primary">未找到统计结果.</div>
{% endif %}

{% if statistics.distributed_tasks %}
<h4>集群详情</h4>
<div class="container">
    <div class="row">
        {% for day, block in statistics.distributed_tasks.items %}
        <div class="col-2">
            <th scope="row">{{day}}</th>
            <td>
            {% for name, tasks in block.items %}
              <li>Node: {{name}} - Tasks {{tasks}}</li>
            {% endfor %}
          </td>

        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}
